<div class="container">
<div class="row">
        <div  class="col-md-5 text-center">
           <div class="animate__animated animate__slideInUp">
            {{> tasksform}}
           </div> 
           
         </div>  
<div class="col-md-7"> 
            <div class="animate__animated animate__slideInUp">  
                {{> taskstable}}
            </div>  
            
   </div>  
 </div>

</div>
