<nav class="navbar navbar-dark bg-dark mb-4">
  <div class="container">
    <div class="view_port">
      <div class="polling_message">
        <a href="/">CRUD-Mongodb and Nodejs</a>
      </div>
      <div class="cylon_eye"></div>
    </div>

  </div>
  

</nav>